{% extends 'base.html.twig' %}

{% block title %}Campus{% endblock %}

{% block body %}
    <h2>Filtrer les campus</h2>

    {# pas de formType pour un seul champ mais un queryBuilder dans le VilleController #}
    <form method="get" action="{{ path('campus_filtrer') }}">
        <label for="saisie">Le nom contient :</label>
        <input type="text" id="saisie" name="saisie" value="{{ saisie ?? '' }}">
        <button type="submit" class="link_button">Rechercher</button>
    </form>

    {% if allCampus is not empty %}
        <table border>
            <thead>
            <tr>
                <th>Campus</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                {{ form_start(formCampus) }}
                <td>{{ form_row(formCampus.nom) }}</td>
                <td>
                    <button type="submit">Ajouter/Modifier</button>
                </td>
                {{ form_end(formCampus) }}
            </tr>
            {% for campus in allCampus %}
                <tr>
                    <td>{{ campus.nom }}</td>
                    <td>
                        {# liens Modifier / Supprimer #}
                        <a href="{{ path('campus_modifier', {'id': campus.id}) }}">Modifier </a>
                        <a href="{{ path('campus_supprimer', {'id': campus.id}) }}"> - Supprimer</a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% endif %}

{% endblock %}




