<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

    {# lien pour normaliser style sur tous les navigateurs #}
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">

    {# lien vers page de style css #}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {#    pour la font #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text&display=swap" rel="stylesheet">

    {# liens pour polices google #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">

    {# afficher favicon dans onglet de la page #}
    <link rel="icon" href="{{ asset ('logo/logolastone.png') }}">

    <title>{% block title %}Sortie BDE{% endblock %}</title>
</head>

<body>
{# balise style css spécifique override dans la page details #}
{% block styleCss %} {% endblock %}
<div class="container">
    <header>
        {# afficher image cliquable en haut du site + h1 pour le référencement #}
        <div class="navBarLogo">
            <a href="{{ path('main_accueil') }}">
                <img src="{{ asset('logo/logolastone.png') }}" alt="Sorties | Accueil" class="logo">
            </a>

            <h1>
                <a href="{{ path('main_accueil') }}">
                    <h2 class="sortieH2">Sortie !</h2>
                </a>
            </h1>
        </div>
        {# inclure menu de navigation de la page nav.html.twig #}
        {% include 'bodyStructure/navBar.html.twig' %}
    </header>
    <main>
        {# Le css pour l'image de BG #}
        {#                <style class="img"> #}
        {#                    body { #}
        {#                        background-image: linear-gradient(60deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), #}
        {#                        url("{{ asset('img/partyAnime.jpg') }}"); #}
        {#                    } #}
        {#                </style> #}
        {# afficher messages flash stockés #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </main>
</div>
</body>
</html>
